
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Fonte padrão */
    background-color: #f4f4f4; /* Cor de fundo */
    color: #333; /* Cor do texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Estilização do cabeçalho */
header {
    background-color: #ff6347; /* Cor de fundo do cabeçalho */
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


main {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
 
section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
}


footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}
